/** Media Queries **/
@use 'variables' as v;

// Media queries
@mixin jio_phone {
    @media (min-width: v.$jio_phone) {
        @content;
    }
}
// #{v.$telefono}
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin macbook_air {
    @media (min-width: v.$macbook_air) {
        @content;
    }
}
@mixin macbook_pro_13 {
    @media (min-width: v.$macbook_pro_13) {
        @content;
    }
}

// Grid
@mixin grid-columns($columns, $spacing) {
    grid-template-rows: unset;
    display: grid;
    column-gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
    align-items: center;//para centrar verticalmente
    justify-items: center;//para centrar horizontalmente
    grid-auto-flow: column;
}
@mixin grid-rows($rows,$spacing) {
    grid-template-columns: unset;
    display:grid;
    row-gap: $spacing;
    grid-template-rows: repeat($rows, 1fr);
    align-items: center;//para centrar verticalmente
    justify-items: center;//para centrar horizontalmente
}

