//Fonts
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$link-font: 'Poppins', sans-serif;
// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//Media Queries
$jio_phone: 300px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$macbook_air:1440px;
$macbook_pro_13:2560px;

//paddin
$gap-1: 1rem;
$gap-2: 2rem;
$gap-3: 3rem;
$gap-4: 4rem;
$gap-5: 5rem;
$padding_div:4rem;
$margin_div:6rem;

